<nav class="navbar">
  <div class="navbar__container">
      <div class="log-container">
        <img src="/assets/logo-header.png" alt="logo">
      </div>
      <input type="checkbox" name="" id=""/>
      <div class="hamburger_lines">
          <span class="line hamburger_line__one"></span>
          <span class="line hamburger_line__two"></span>
          <span class="line hamburger_line__three"></span>
      </div>
      <ul class="menu_items">
          <li>
            <a routerLink="">
              Home
            </a>                            
          </li>
          <li>
            <a routerLink="comics">
              Comics
            </a>                            
          </li>
          <li>
            <a routerLink="characters">
              Characters
            </a>                            
          </li>
          <li>
            <a routerLink="creators">
              Creators
            </a>                            
          </li>
          <li>
            <a routerLink="series">
              series
            </a>                            
          </li>
      </ul>
  </div>
</nav>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>